.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(110deg, aqua, green);
}

.box {
    width: 500px;
    height: 80%;
    border-radius: 15px;
    background: linear-gradient(110deg, aqua, green);
    margin-left: 600px;
    margin-top: 120px;
}

#input {
    width: 450px;
    height: 30px;
    border-radius: 10px;
    background-color: blanchedalmond;


}

#btn {
    width: 140px;
    height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 15px;
    background-color: blanchedalmond;
}

.todoimg {
    width: 120px
}

ul li {
    list-style: none;
    font-size: 19px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;

}

ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-image: url(unchecked.png);
    background-position: center;
    background-size: cover;
    left: -25px;

}

ul li.checked {
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background-color: grey;
    border-radius: 50%;
}